* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.splash {
  background-image: url(leon.webp);
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 100vh;
}
img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  grid-column: 2;
}
body {
  background-color: black;
  /* background-color: black; */
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 21px;
  font-weight: 400;
  letter-spacing: 0px;
}

.galleri {
  /* display: grid;
  width: 50%; */
  object-fit: cover;
  margin-top: 5rem;
  margin-left: 5rem;
  margin-bottom: 5rem;
}
.port {
  object-fit: cover;
}
.tekst h5 {
  /* display: grid;
  width: 50%;
  padding-left: 5rem; */
  font-size: 18px;
  padding: 0%;
  margin: 0%;
}
.tekst {
  margin-top: 5rem;
}
.tekst p {
  text-align: center;
  font-family: "nunito sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 25px;
  color: #db3eb1;
  text-align: center;
  filter: drop-shadow(0 0 15px #db3eb1) drop-shadow(0 0 50px #db3eb1) contrast(2) brightness(2);
  font-weight: bold;
  text-align: justify;
  margin-right: 3rem;
  margin-left: 3rem;
  margin-bottom: 2rem;
}
img {
  width: 100%;
}
main {
  margin: auto auto;
}
label,
input,
textarea,
select,
button {
  display: block;
}
section {
  /* height: 100vh;
  width: 100%; */
  display: grid;
  /* align-items: center;
  justify-content: center; */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

h2 {
  color: white;
  text-align: center;
  margin: 0px;
  font-family: "Avenir Book";
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  line-height: 25px;
  filter: drop-shadow(0 0 15px #db3eb1) drop-shadow(0 0 50px #db3eb1) contrast(2) brightness(2);
}
.navbar {
  height: 12%;
  display: flex;
}
.logo {
  width: 50px;
  cursor: pointer;
}

nav {
  flex: 1;
  text-align: center;
  padding: 2rem;
  background-color: black;
  text-align: center;
}
nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 60px;
}

nav ul li a {
  color: #db3eb1;
  border: 6px solid #db3eb1;
  border-radius: 15px;
  padding: 15px 25px;
  font-size: 30px;
  font-family: tahoma;
  letter-spacing: 5px;
  cursor: pointer;
  font-weight: bold;
  filter: drop-shadow(0 0 15px #db3eb1) drop-shadow(0 0 50px #db3eb1) contrast(2) brightness(2);
  transition: 0.5s;
  width: 20rem;
  text-align: left;
  margin: auto;
  text-decoration: none;
}

a:hover {
  color: black;
  background-color: #db3eb1;
  filter: drop-shadow(0 0 20px #db3eb1) contrast(2) brightness(2);
}

header {
  top: 0;
  gap: 20px;
}
.button {
  color: #db3eb1;
  border: 6px solid #db3eb1;
  border-radius: 15px;
  padding: 15px 25px;
  font-size: 30px;
  font-family: tahoma;
  letter-spacing: 5px;
  cursor: pointer;
  font-weight: bold;
  filter: drop-shadow(0 0 15px #db3eb1) drop-shadow(0 0 50px #db3eb1) contrast(2) brightness(2);
  transition: 0.5s;
  width: 20rem;
  text-align: center;
  margin: auto;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: #db3eb1;
}
a:hover {
  background-color: #db3eb1;
  filter: drop-shadow(0 0 20px #db3eb1) contrast(2) brightness(2);
  color: black;
}

.button:hover {
  color: black;
  background-color: #db3eb1;
  filter: drop-shadow(0 0 20px #db3eb1) contrast(2) brightness(2);
}
.om {
  display: flex;
  flex-direction: column;
  background-image: url(cheng.webp);
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
}

.billede {
  width: 30%;
  height: 30%;
  align-self: center;
  margin-top: 8rem;
  object-fit: cover;
}
.billede img {
  border-radius: 50%;
}
.over {
  text-align: center;
}

h3 {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: white;
}
.bla p {
  text-align: center;

  font-family: "nunito sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 25px;
  color: #ffffff;
  text-align: center;
  filter: drop-shadow(0 0 15px #db3eb1) drop-shadow(0 0 50px #db3eb1) contrast(2) brightness(2);
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;

  margin: 5rem;
}
.bla li {
  text-align: center;
  margin: 0px;
  font-family: "nunito sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 25px;
  color: #db3eb1;
  text-align: center;
  filter: drop-shadow(0 0 15px #db3eb1) drop-shadow(0 0 50px #db3eb1) contrast(2) brightness(2);
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}
h1 {
  color: #db3eb1;
  text-align: center;
  margin-top: 20rem;

  padding: 15px 25px;
  font-size: 10rem;
  font-family: tahoma;
  letter-spacing: 5px;
  cursor: pointer;
  font-weight: bold;
  filter: drop-shadow(0 0 15px #db3eb1) drop-shadow(0 0 50px #db3eb1) contrast(2) brightness(2);
  text-align: center;

  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}
button {
  color: #db3eb1;
  border: 6px solid #db3eb1;
  border-radius: 15px;
  padding: 15px 25px;
  font-size: 30px;
  font-family: tahoma;
  letter-spacing: 5px;
  cursor: pointer;
  font-weight: bold;
  filter: drop-shadow(0 0 15px #db3eb1) drop-shadow(0 0 50px #db3eb1) contrast(2) brightness(2);
  transition: 0.5s;
  width: 20rem;
  text-align: center;
  margin: auto;
  margin-bottom: 1rem;
  background-color: transparent;
  margin-top: 7rem;
}
button:hover {
  color: black;
  background-color: #db3eb1;
  filter: drop-shadow(0 0 20px #db3eb1) contrast(2) brightness(2);
}
footer {
  text-align: center;
  margin: 0px;
  font-family: "nunito sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 25px;
  color: #db3eb1;
  text-align: center;
  filter: drop-shadow(0 0 15px #db3eb1) drop-shadow(0 0 50px #db3eb1) contrast(2) brightness(2);
  font-weight: bold;

  text-align: center;
}
@media screen and (max-width: 1190px) {
  h1 {
    font-size: 9rem;
  }
}

@media screen and (max-width: 750px) {
  .galleri {
    margin: 0;
  }
  video {
    width: 100%;
    height: auto;
  }
  .tekst {
    margin-left: 2rem;
    margin-bottom: 0;
  }
  .tekst p {
    text-align: left;
  }
  a {
    margin-bottom: 1rem;
  }
  nav ul li a {
    display: block;
    margin-bottom: 1rem;
  }
  h2 {
    margin: 0;
  }
}
@media screen and (max-width: 1200px) {
  h1 {
    font-size: 7rem;
  }
}
@media screen and (max-width: 900px) {
  h1 {
    font-size: 4rem;
  }
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 3rem;
  }
}
